<div id="footer">
(c) 2008 <a href="http://www.hanzoarchives.com/">Hanzo Archives Limited</a> * funded by the <a href="http://www.netpreserve.org">IIPC</a>  as part of the <a href="http://code.google.com/p/warc-tools/">Warc Tools</a> project.
</div>