<html>
<head>
<title>Warc Tools</title>
<link rel="stylesheet" type="text/css" href="/static/wb.css" />
</head>
<body>
#include "header.tmpl"
<div id="mainsearch">
url:   <input name="q" 
                   id="q"
                   type="text" 
                   value="enter url to search for" 
                   size="30"
                   onfocus="qfoc()"
                   onblur="qblu()"                   
                   />
<button onclick="dosearch()" id="search">search</button>
</div>
<script type="text/javascript">


function qfoc() {
    var q   = document.getElementById('q');
    if (q.value == "enter url to search for" ) {
        q.value = "";
    }

}

function qblu() {
    var q = document.getElementById('q');
    if (q.value == "" ) {
        q.value = "enter url to search for";
    }
}

function dosearch() { 
    var q = document.getElementById('q');    
    window.location.href = "/archive/*/" + q.value ;
}

</script>


#include "footer.tmpl"
</body>

</html>