<html>
<head>
<title>Warc Tools</title>
<link rel="stylesheet" type="text/css" href="/static/wb.css" />
</head>
<body>
#include "header.tmpl"
<div class="content">
#if len( $results )
<!-- SEARCH RESULTS -->

      <p class="mainBody">

<table id="resulttable">
   <tr class="resultsheader">
      <td colspan="11" align="center" class="mainCalendar">
         Search Results for $url
      </td>
   </tr>
   <tr class="yearheader">
#for $year in $results["years"]   

      <td align="center" class="mainBigBody"> $year </td>
#end for      
   </tr>
   <tr class="yearcolumn">
#for $year in $results["years"] 
#set $np = len( $results[$year])
      <td align="center" class="mainBody"> $np pages </td>
#end for  
   </tr>
   <tr class="results"">
#for $year in $results["years"] 

      <td align="center" nowrap class="mainBody" valign="top">
          #for $result in $results[$year]
         <a href="/archive/$result[0]/$url">$result[1]</a> <br>
         #end for
      </td>
#end for      
 
   </tr>
</table>
      </p>


<!-- <p class="mainSearchUrls">
	URL<br>
	<span class="mainSearchText">TEXT FOLLOWING URL</span>
</p> -->

<!-- /SEARCH RESULTS -->
#else

<p>No results Found</p>
#end if
</div>

#include "footer.tmpl"
</body>

</html> 