.bzr
.svn
trunk/src/build_info.c
trunk/src/config.h
trunk/src/version.c
trunk/src/css.c
*~
*.o
*.a
po/
m4/
build-aux/
Makefile
Makefile.in
.version
GNUMakefile
INSTALL
aclocal.m4
autom4te.cache/
.deps/
src/wget
config.log
config.status
configure
*.texi
*.pod
*.info
*.1
gnulib/
